body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

#header {
  font-size: 56px;
  text-align: center;
  background-color: black;
  color: white;
}

ul #pets{
  width: 150px;
  margin: 0 auto;
}

.container {
  float: right;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

/* img {
  width: 200px;
  height: 200px;
} */
